@model IEnumerable<SimpleSign.Models.ArquivosModel>


@{
    ViewData["Title"] = "Arquivos";
}

<form action="/Arquivos/UploadImagem" enctype="multipart/form-data" method="post">
    <input type="file" name="arquivos" multiple/>
    <br />
    <button>Enviar Imagem</button>
</form>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayNameFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a asp-action="Visualizar" asp-route-id="@item.Id" target="_blank">Visualizar</a>
                </td>
            </tr>
        }
    </tbody>
</table>