html {
    font-size: 14px;
    
}


.homeBtn {
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1px;
    z-index: 1;
    margin-left: 1100px;
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: none;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background: #1C1F23;
    white-space:normal !important;
 }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.field-validation-error {
    color: #ff0000
}

.close-alert {
   position: absolute;
   right: -10px;
   top:-15px;
   border-radius: 15px;
   width: 30px;
   height: 31px;


}
.media-object {
 
  
    width: 90px;
    height: 90px;
   
}
.usuario-foto {
    width: 60px;
    height: 60px;
}

.
