@{
    Layout = "_layoutDeslogado"; 
    ViewData["Title"] = "Pagina Restrita";
    
}


<p> Você não tem Permissão para acessar essa funcionalidade,<a asp-controller="Home" asp-action="Index">Click aqui para voltar para a home.</a></p>